.package
  max-height: 1207px
  &-stars
    &__item
      height: 6px
      width: 6px
  &-title
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    margin-top: 40px
    margin-bottom: 62px
    &--narrow
      max-width: 60px
      font-style: normal
      font-weight: 600
      font-size: 8px
      line-height: 10px
  &-grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 1fr 1fr 1fr
    gap: 30px
    justify-items: center
  &-card
    height: 499px
    min-width: 350px
    border-radius: 8px
    background-color: $dark
    color: $light
    position: relative
    &__rating
      grid-area: rating
    &__image
      min-height: 50%
      border-radius: 4px 4px 0 0
      &--wide
        height: inherit
        /*min-height: -webkit-fill-available*/
    &:first-child
      grid-column-start: span 2
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: 1fr
    &__badge
      max-width: 95px
      /*max-height: 30px*/
      padding: 8px 21px 8px 11px
      font-style: normal
      font-weight: 600
      font-size: 12px
      line-height: 15px
      color: $light
      background-color: $primary
      position: absolute
      left: 0
      top: 26px
      border-radius: 0px 4px 4px 0px
      &--narrow
        min-width: 60px
        font-style: normal
        font-weight: 600
        font-size: 8px
        line-height: 10px
        padding: 4px 6px 4px 6px
    &__description
      padding: 39px 21px 40px 44px
      color: $light
      &--narrow
        padding: 26px 21px 25px 32px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin-top: 0
      margin-bottom: 27px
      grid-area: title
      &--narrow
        margin-bottom: 23px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160.6%
      margin-top: 0
      margin-bottom: 43px
      grid-area: text
.conditions
  display: grid
  justify-content: flex-start
  grid-template-columns: 1fr
  grid-template-rows: 1fr 1fr 1fr
  color: $light
  margin-bottom: 23px
  grid-area: conditions
  &-narrow
    margin-bottom: 11px
  &__block
    max-width: 100%
    display: grid
    grid-template-columns: 16px 1fr
    grid-template-rows: 1fr
    margin-bottom: 11px
  &__icon
    width: 16px
    height: 16px
  &__description
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    margin-left: 13px
.booking-block
  max-width: 100%
  max-height: 58px
  display: grid
  grid-template-columns: 2fr
  grid-template-rows: 1fr 1fr
  justify-content: space-between
  align-items: flex-start
  &__price
    &-old
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 18px
      text-decoration-line: line-through
      padding: 0
      margin: 0
      grid-row: 1 / 2
      grid-column: 1 / 2
  &__price
    &-new
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 30px
      padding: 0
      margin: 0 0 20px 0
      grid-row: 2 / 2
      grid-column: 1 / 1
      align-self: center
  &__button
    max-width: 122px
    color: $light
    background-color: $primary
    border-radius: 4px
    border: none
    padding: 11px 27px
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 19px
    grid-area: button
    grid-row: 2 / 2
    grid-column: 2 / 2
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    margin-bottom: 30%
